/* Import Site Fonts */
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&family=Ultra&display=swap');

/**** Site Fonts ****

    Headings: 'Ultra', serif;
    Body: 'Stint Ultra Expanded', cursive;

***********************/

/**** Site Colours ****

    Pink:      #fdd7e4
    Deep Pink: #ff0080
    Green:     #72B078

***********************/

/* Global Styles */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: 'Ultra', serif; */
	letter-spacing: 3px;
	color: #b08493;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	background: linear-gradient(#fdd7e4, #b08493);
	font-family: 'Stint Ultra Expanded', cursive;
}

/* Modal */
.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 10;
}

.modal-window {
	width: 50%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #fff;
	border-radius: 20px;
	overflow: hidden;
	overflow-y: scroll;
}

.btn-close-modal,
.btn-show-modal {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	background-color: #b08493;
	color: #fdd7e4;
	border: none;
	transition: all 0.2s ease-in-out;
}

.btn-close-modal:hover,
.btn-show-modal:hover {
	background-color: #ff0040;
	color: #fff;
	cursor: pointer;
}

.modal-title {
	margin-bottom: 20px;
	text-align: center;
	background-color: #b08493;
	color: #fff;
	padding: 20px 0;
	box-shadow: 0 0 3px #000;
}

.main-header {
	text-align: center;
	padding: 20px;
}

.modal-heading {
	margin: 0 0 20px 50px;
}

.game-rules {
	padding: 0 50px;
	margin-bottom: 50px;
}

.rule {
	margin-bottom: 10px;
}

.main {
	height: 80%;
}

.player-flex {
	width: 80%;
	height: 100%;
	margin: auto;
	display: flex;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0 0 0.8rem #b08493;
	position: relative;
}

.player {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 60px 0 0;
}

.player-active {
	background-color: rgba(255, 255, 255, 0.4);
}

.name {
	margin-bottom: 20px;
	color: #72b078;
}

.score {
	font-size: 4rem;
	color: #ff0040;
}

.current {
	position: absolute;
	bottom: 60px;
	text-align: center;
	background-color: #ff0040;
	padding: 20px 10px;
	border-radius: 10px;
	color: #fff;
}

.current-label {
	font-size: 1.2rem;
}

.current-score {
	font-size: 2rem;
}

.die {
	width: 200px;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 0.8rem #b08493;
}

.btn {
	width: 150px;
	height: 50px;
	padding: 5px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 10px;
	border: 1px solid #ff0040;
	font-size: 1rem;
	color: #ff0040;
	transition: all 0.2s ease;
}

.btn::first-letter {
	font-size: 1rem;
}

.btn:hover {
	cursor: pointer;
	background-color: #72b078;
	color: #fff;
	border-color: #fff;
}

.btn-roll {
	bottom: 90px;
}

.btn-hold {
	bottom: 20px;
}

.btn-reset {
	top: 20px;
}

.hidden {
	display: none;
}

.winner {
	background: #333;
}

.blur {
	filter: blur(2px) grayscale(1);
	transition: all 0.5s ease;
}

.close-modal {
	opacity: 0;
	z-index: -10;
	transition: all 0.2s ease;
}
